<style>
	#editors_blog {
		text-align: justify;
		padding: 15px;
		background-image: url('{{site.baseurl}}/assets/editors_blog_bg.jpg');
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
<div class="col-lg-4 col-md-4">
	<img src="{{site.baseurl}}/assets/images-hq/editors_blog.jpg" alt="Editors Blog"></img>
</div>

<div class="col-lg-8 col-md-8">
	<i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
	<p><b> &nbsp We continue with our inspirational stories. Every story we share with you is aimed at nudging you towards greatness and the courage to surpass whatever boundaries may be hindering your success. We also intend to embrace women from all angles of life, with different ideologies, aspirations and measures of success. The women who have shared their experiences have gone over their heads to break societal barriers, they have accepted and embraced the qualities that define their identity and continuously work hard towards achieving their dreams.
	<br/><br/>
	The reward that success brings is often not enjoyed by many because of the numerous societal challenges that women experience in their homes. One that should be on our minds this month is Breast Cancer, as October has been declared Breast Cancer Awareness Month.  As we continue to celebrate great women and their incredible stories, let’s also keep in mind our respectable heroines who have fought and won over breast cancer, the warriors who have to endure excruciating pain that comes with chemotherapy and the great angels who take care of them through their painful journeys, the caretakers.
	<br/><br/>
	Let us continue to look deep within ourselves and check if we have done enough. Are we free to make the right choices in reinventing ourselves? The choices we make, the friends we keep, the businesses we dream of….these can only bring us the desired results if we work together within a solid support system. Let us carry on with the networking sessions, church gatherings and acts of charity as we attain new perspectives. Our security comes from our ability to make things happen!
	<br/><br/>
	
	The journey is just beginning… </b>&nbsp </p><i class="fa fa-quote-right fa-3x" aria-hidden="true"></i>
</div>
