<a href="{{site.baseurl}}/"><h3 class="header-title">{{site.title}}&nbsp;<i class="fa fa-sun-o" aria-hidden="true"></i></h3></a>
  <a href="{{site.baseurl}}/">Home</a>
  <!-- <a href="{{site.baseurl}}/about/">About</a>
  <a href="{{site.baseurl}}/contact/">Contact</a> -->
  <a href="#" data-toggle="collapse" data-target="#collapseCategories_sideNav" aria-expanded="false" aria-controls="collapseCategories">Articles</a>
	<div class="collapse" id="collapseCategories_sideNav">
		<div class="well">
			<p><a href="#">Business</a></p>
			<p><a href="#">Lifestyle</a></p>
			<p><a href="#">Development</a></p>
			<p><a href="#">Beauty &amp Fashion</a></p>
			<p><a href="#">Relationships</a></p>
			<p><a href="#">Xtra Reads</a></p>
		</div>
	</div>
  <!-- <a target="_blank" href="https://github.com/sharu725/karna">Project</a>
  <a href="https://github.com/sharu725/karna/archive/master.zip">Download</a>
  <a>Version: {{site.version}}</a> -->
